
body {
    padding: 20px;
    color: #16213E;
}

a {
    text-decoration: none;
    color: #16213E;
    font-weight: bold;
}

form {
    margin-bottom: 20px;
}

.main {
    width: 600px;
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
}


.conditions {
    font-size: 20px;
}

.degrees {
    cursor: default;
}

.degrees:hover {
    color: #16213E;
}

.search {
    padding: 6px, 20px;
}

.active {
    color: #16213E;
    cursor: pointer;
    font-weight: normal;
}

.min-temperature {
    opacity: 0.6;
}

@media all and (max-width: 860px) {

    .main {
        width: 100%;
    }

    .btn {
        font-size: 12px;
    }

    .conditions {
        font-size: 14px;
    }
}



