
body {
    padding: 20px;
    color: #16213E;
}

button {
    color: #16213E;
    margin-left: 0;
}
.container {
    padding: 20px;
    
}

.main {
    width: 50%;
    background: linear-gradient(91.9deg, rgb(94, 124, 121) 4.4%, rgb(64, 224, 208) 89%);
    border-radius: 20px;
}


.conditions {
    font-size: 20px;
}

.degrees {
    border: none;
    background-color: transparent;
    border-radius: 10px;
    
}

.search {
    padding: 6px, 20px;
}


@media all and (max-width: 860px) {

    .main {
        width: 100%;
    }
}

ul {
    list-style: none;
    padding-left: 0;
}


